<div>
  <label for="cardName">Nome da Carta:</label>
  <input type="text" id="cardName" [(ngModel)]="cardName">
  
  <label for="block">Bloco:</label>
  <select id="block" [(ngModel)]="selectedBlock">
    <option value="Amonkhet">Amonkhet</option>
    <option value="Ixalan">Ixalan</option>
    <option value="Zendikar">Zendikar</option>
    <option value="Ravnica">Ravnica</option>
    <option value="Onslaught">Onslaught</option>
  </select>
  
  <button (click)="search()">Pesquisar</button>
</div>
